<!DOCTYPE html>

<!--
Jiefeng Ou, Wesley Leon, Alexandru Cimpoiesu
# monky
# SoftDev
# P01: ArRESTed Development
-->

<html>
   <head>
     <title>title</title>
     <script src ="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"> </script>
   </head>

   <body>
     <p1> hi {{user}}</p1>
     <a href="{{url_for('login')}}">Login</a>
     <a href="{{url_for('register')}}">Register</a>
     <a href="{{url_for('logout')}}">Logout</a>
     <a href="{{url_for('poke')}}">poke</a>
     <a href="{{url_for('cat')}}">cat</a>
     <a href="{{url_for('bird')}}">bird</a>

     <table class="table-auto">
      {% if user_data %}
      <thead>
        <tr>
          <th>Game</th>
          <th>Wins</th>
          <th>Last Daily Won</th>
          <th>Daily Streak</th>
        </tr>
      </thead>
        {% for data in user_data %}
        <tbody>
          <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
          </tr>
        </tbody>
        {% endfor %}
      {% endif %}
     </table>
   </body>
 </html>
